# Exploring Data with Pandas

In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\anooj\Desktop\ga-data\NBA-Playoff-Predictor\NBA_data\NBA_Season_avgs.csv')
df = pd.DataFrame(df)
df

,RK,Team,Year,G,W,L,Conf,MP,FG,FGA,...,FTA,FT%,ORB,DRB,AST,STL,BLK,TOV,PF,PTS
0,1,San Antonio Spurs*,1980,82,41,41,East,240.9,47.0,94.4,...,30.8,0.801,14.1,30.7,28.4,9.4,4.1,19.4,25.6,119.4
1,2,Los Angeles Lakers*,1980,82,60,22,West,242.4,47.5,89.9,...,25.5,0.775,13.2,32.4,29.4,9.4,6.7,20.0,21.8,115.1
2,3,Cleveland Cavaliers,1980,82,37,45,East,243.0,46.5,98.1,...,26.9,0.772,15.9,29.0,25.7,9.3,4.2,16.7,23.6,114.1
3,4,New York Knicks,1980,82,39,43,East,241.2,46.4,93.6,...,27.7,0.747,15.1,28.1,27.6,10.7,5.6,19.7,26.4,114.0
4,5,Boston Celtics*,1980,82,61,21,East,242.4,44.1,90.1,...,29.9,0.779,15.0,30.0,26.8,9.9,3.8,18.8,24.1,113.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072,29,Memphis Grizzlies,2018,82,22,60,West,240.3,36.7,82.8,...,21.1,0.786,9.5,31.0,21.5,7.5,4.8,15.0,23.2,99.3
1073,30,Sacramento Kings,2018,82,27,55,West,240.9,38.8,86.1,...,16.7,0.735,9.5,31.4,21.6,7.8,4.1,13.7,20.0,98.8
1074,1,Milwaukee Bucks*,2019,82,60,22,East,241.2,43.4,91.1,...,23.2,0.773,9.3,40.4,26.0,7.5,5.9,13.9,19.6,118.1
1075,2,Golden State Warriors*,2019,82,57,25,West,241.5,44.0,89.8,...,20.4,0.801,9.7,36.5,29.4,7.6,6.4,14.3,21.4,117.7
1076,3,New Orleans Pelicans,2019,82,33,49,West,240.9,43.7,92.2,...,23.4,0.761,11.1,36.2,27.0,7.4,5.4,14.8,21.1,115.4

In [2]:
#determine the dimensions of our dataframe
df.shape

(1077, 28)

In [3]:
#determine the number of rows

df.shape[0]

1077

In [4]:
#print the last 3 rows
df.tail(3)

,RK,Team,Year,G,W,L,Conf,MP,FG,FGA,...,FTA,FT%,ORB,DRB,AST,STL,BLK,TOV,PF,PTS
1074,1,Milwaukee Bucks*,2019,82,60,22,East,241.2,43.4,91.1,...,23.2,0.773,9.3,40.4,26.0,7.5,5.9,13.9,19.6,118.1
1075,2,Golden State Warriors*,2019,82,57,25,West,241.5,44.0,89.8,...,20.4,0.801,9.7,36.5,29.4,7.6,6.4,14.3,21.4,117.7
1076,3,New Orleans Pelicans,2019,82,33,49,West,240.9,43.7,92.2,...,23.4,0.761,11.1,36.2,27.0,7.4,5.4,14.8,21.1,115.4

In [5]:
pd.DataFrame(df.dtypes, columns=['Data Type'])

     Data Type
RK       int64
Team    object
Year     int64
G        int64
W        int64
L        int64
Conf    object
MP     float64
FG     float64
FGA    float64
FG%    float64
3P     float64
3PA    float64
3P%    float64
2P     float64
2PA    float64
2P%    float64
FT     float64
FTA    float64
FT%    float64
ORB    float64
DRB    float64
AST    float64
STL    float64
BLK    float64
TOV    float64
PF     float64
PTS    float64